.center {
  position: relative;
  width: 1066px;
  background: #ffffff;
  overflow: hidden;
}

.center .contents {
  display: inline-block;
  margin: 32px;
  width: 802px;
}

.center .anchorPosition {
  position: absolute;
  padding: 16px 0px;
  width: 200px;
  left: 866px;
  top: 0px;
}

:global(.ant-anchor-wrapper) {
  max-height: 500vh !important;
  padding: 16px 0px;
  left: 1202px;
}

li {
  list-style: none;
}
