.tree {
  flex: 0 0 auto;
}

.tree :global(.ant-tree-list) {
  font-size: 16px;
  width: 336px;
  height: 100%;
  border-right: 1px solid #ddd;
  padding: 0 12px;
}

.tree :global(.ant-tree-list a) {
  color: black;
}
