.search {
  flex: 1 1 auto;
  width: 0;
  justify-content: center;
}

.search :global(.ant-input-group .ant-input) {
  margin-left: 48px;
  border: 0;
}

.search
  :global(.ant-input-search
    > .ant-input-group
    > .ant-input-group-addon:last-child) {
  left: -456px;
  border-left: 1px solid #ddd;
  padding-left: 11px;
  background-color: #fff;
}

.search :global(.ant-input-search-button) {
  border: 0;
}
