.search {
  flex: 1 1 auto;
  width: 0;
  justify-content: center;
}

.search :global(.ant-input-group) {
  display: flex;
}

.search :global(.ant-input-group .ant-input) {
  width: 80%;
  margin-left: 48px;
  border: 0;
}

.search
  :global(.ant-input-search
    > .ant-input-group
    > .ant-input-group-addon:last-child) {
  order: -1;
  border-left: 1px solid #ddd;
  padding-left: 11px;
  background-color: #fff;
}

.search :global(.ant-input-search-button) {
  border: 0;
}

.search :global(.ant-input:focus) {
  box-shadow: none;
}
